<div class="modal" id="infoModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">راهنمای خرید</h5>
      </div>
      <div class="modal-body">
        <p>برای دریافت این پیشنهاد شگفت انگیز کافیه به کسب و کار مورد نظر به صورت حضوری مراجعه کنید، سرویس مورد نظرتون رو دریافت کنید و موقع حساب کردن به صاحب مغازه اعلام کنید از طرف اِستلا اومدید. بعد به صورت آنلاین وجه مورد نظر رو پرداخت کنید تا پیشنهاد مورد نظر رو دریافت کنید!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">خب باشه</button>
      </div>
    </div>
  </div>
</div>